/* =============
    About
============= */
@use "../helpers";

#about{
    padding: 56px 24px;

    @include helpers.md{
        display: grid;
        grid-template-areas: "about-content"
                            "about-img";
    }

    @include helpers.xl{
        grid-template-columns: 40% auto;
        grid-template-areas: "about-content about-img";

        max-width: 1200px;
        margin: 0 auto;
    }

    #about-content-container{
        #about-top-content{
            p{
                color: var(--grey);
                font-weight: 600;
                line-height: helpers.rem-calc(28);
                margin-top: 24px;
                margin-bottom: 24px;
            }
        }

        .about-card{
            display: flex;
            align-items: center;

            .about-card-info{
                padding: 16px;
                border-radius: 14px;

                p{
                    color: var(--grey);
                    font-weight: 600;
                    line-height: helpers.rem-calc(28);
                    margin-top: 24px;
                    margin-bottom: 24px;
                }
            }
        }
    }

    aside{
        @include helpers.md{
            grid-area: about-img;
        }
    }
}