/* =============
    Communication
============= */
@use "../helpers";

#communication{
    padding: 100px 24px;

    #communication-top-content{
        text-align: center;

        p{
            color: var(--grey);
            font-weight: 600;
            line-height: helpers.rem-calc(28);
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }
}