/* =============
    Communication
============= */
@use "../helpers";

#communication{
    padding: 100px 24px;

    @include helpers.xl{
        max-width: 1200px;
        margin: 0 auto;
        gap: 45px;
    }

    #communication-top-content{
        text-align: center;

        @include helpers.md{
            padding: 0 20vw;
        }

        @include helpers.lg{
            padding: 0 10vw;
        }

        p{
            color: var(--grey);
            font-weight: 600;
            line-height: helpers.rem-calc(28);
            margin-top: 24px;
            margin-bottom: 24px;
        }
    }
}