/* =============
    Process
============= */
@use "../helpers";

#process{
    padding: 100px 24px;

    #process-top-content{
        text-align: center;

        p{
            color: var(--grey);
            font-weight: 600;
            font-size: helpers.rem-calc(14);
            line-height: helpers.rem-calc(28);
            margin: 20px 0 16px;
        }
    }

    #process-card-container{
        border: 1px solid var(--white);

        .process-card{
            margin-bottom: 48px;
            padding: 16px;
            border-radius: 14px;
        
            h4{
                color: var(--nightBlue);
                font-weight: 600;
                font-size: helpers.rem-calc(20);
                line-height: helpers.rem-calc(28);
            }

            p{
                color: var(--grey);
                font-weight: 600;
                font-size: helpers.rem-calc(14);
                line-height: helpers.rem-calc(28);
                margin: 20px 0 16px;
            }
        }
    }
}