/* =============
    Process
============= */
@use "../helpers";

#process{
    padding: 100px 24px;

    #process-top-content{
        text-align: center;

        @include helpers.md{
            padding: 0 40vw;
        }

        @include helpers.lg{
            padding: 0 30vw;
        }

        @include helpers.xl{
            padding: 0 20vw;
        }

        p{
            color: var(--grey);
            font-weight: 600;
            font-size: helpers.rem-calc(14);
            line-height: helpers.rem-calc(28);
            margin: 20px 0 16px;
        }
    }

    #process-card-container{
        border: 1px solid var(--white);

        @include helpers.md{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "process-card-1 process-card-2 process-card-3";
            gap: 10px;
        }

        @include helpers.xl{
            max-width: 1200px;
            margin: 0 auto;
            gap: 45px;
        }

        .process-card{
            margin-bottom: 48px;
            padding: 16px;
            border-radius: 14px;
        
            h4{
                color: var(--nightBlue);
                font-weight: 600;
                font-size: helpers.rem-calc(20);
                line-height: helpers.rem-calc(28);
            }

            p{
                color: var(--grey);
                font-weight: 600;
                font-size: helpers.rem-calc(14);
                line-height: helpers.rem-calc(28);
                margin: 20px 0 16px;
            }
        }

        #card-1{
            @include helpers.md{
                grid-area: process-card-1;
            }
        }

        #card-2{
            @include helpers.md{
                grid-area: process-card-2;
            }
        }

        #card-3{
            @include helpers.md{
                grid-area: process-card-3;
            }
        }
    }
}